<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="50px" 
    fxLayoutGap.xs="0"
    style="overflow:auto;">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>    
      <md-card>
      <md-card-header> 
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{BaseURL+dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </md-card-actions>  
    </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <h2> Comments </h2><br/>   
    <md-list>
  <md-list-item *ngFor="let d of dish.comments" >
   
    <h1 md-line> {{d.comment}} </h1>
    <p md-line>
      <span> {{d.rating}} stars </span><br>
      <span> -- {{d.author}} {{d.date | date}}</span>
    </p>
  </md-list-item>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<md-list-item> 
<div fxFlex  class="form-size" >  
    <md-list-item>
    <h1 md-line>
      <span [hidden]="feedbackForm.invalid">
          {{formValues.comment}}</span></h1><br/>  
          <p md-line>
          <span [hidden]="feedbackForm.invalid">
        {{formValues.rating}}</span><br/>
    
        <span [hidden]="feedbackForm.invalid">
          {{formValues.firstname}}</span>
        </p>
     <br/>  </md-list-item>


    <form  novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
        <p>
          <md-input-container 
           dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
            <input mdInput formControlName="firstname" placeholder="Name" type="text" required>
            <md-hint>
              <span [hidden]="!(formErrors.firstname)">
                {{formErrors.firstname}}</span>
            </md-hint>
          </md-input-container>
        </p>
        <br/> 

           <md-slider mdInput  value="1"  formControlName="rating" thumbLabel min="1" max="5">
          </md-slider>
          

          <p>
            <md-input-container 
             dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
              <textarea mdInput formControlName="comment" type="text" placeholder="Comments" required rows="10" column="30"></textarea>
              <md-hint>
                <span [hidden]="!(formErrors.comment)">
                  {{formErrors.comment}}</span>
              </md-hint>
            </md-input-container>
          </p> 
          <button type="submit" md-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
        </form>
      </div>
      
      </md-list-item>
</md-list>

</div>
</div>
</div>


